<div class="wrapper">
    <div class="filter">
        <div class="plus" ng-click="content.addAndDetail('.wrapper')">
            <div ng-if="!user.contents.findById(content.id)">
                <md-icon><i>add</i></md-icon>
                <br>
                컬렉션에 추가하기
            </div>
            <div layout-padding ng-if="user.contents.findById(content.id)">
                <span ng-bind-html="content.comment.newLine()||'생각을 남겨주세요.'"></span>
            </div>
        </div>
    </div>
    <div class="type" ng-if="!content.image">{{content.type}}</div>
    <img ng-on-error="content.image=false" ng-if="content.image" class="grid-img" ng-src="{{content.image}}">
    <md-icon class="added" ng-if="!collection && user.contents.findById(content.id)"
             ng-click="content.removeFromCollection($event);">
        <i class="check">check</i>
        <i class="minus">remove</i>
    </md-icon>
</div>
<div class="title">
    <div>{{content.title}}</div>
    <div class="pubDate">{{content.pubDate}}</div>
</div>
<div class="description">
    <div>{{content.subtitle}}</div>
    <div ng-bind-html="content.detail"></div>
</div>