<div class="header">
    <div class="profile" ng-style="{'background-image':'url('+user.photo+')'}">
    </div>
    <div class="info">
        <div>{{user.name}}</div>
        <small>{{user.age}}, {{user.gender}}, {{user.district}}, {{user.introduce}}</small>
        {{}}
        <div ng-click="inviteChat()" ng-if="!findChat(user)">대화 신청</div>
        <div ui-sref="chat({id:findChat(user).id})" ng-if="findChat(user)">대화창 가기</div>
    </div>
</div>
<div class="body" layout="column">
    <md-list flex class="overlay">
        <md-list-item class="md-3-line" ng-click="null" ng-repeat="content in contents | limitTo : 3">
            <img ng-if="content.type === 'MOVIE' || content.type === 'BOOK'" alt="{{content.title}}" class="md-avatar"
                 ng-src="{{ content.image || '/resources/icons/movie.png' }}"/>
            <img alt="{{content.title}}" class="md-avatar" ng-if="content.type==='ARTIST'"
                 src="/resources/icons/artist.jpg"/>
            <img alt="{{content.title}}" class="md-avatar" ng-if="content.type==='SONG'"
                 src="/resources/icons/song.png"/>
            <img alt="{{content.title}}" class="md-avatar" ng-if="content.type==='ALBUM'"
                 src="/resources/icons/album.jpg"/>
            <div class="md-list-item-text" layout="column">
                <h3>{{ content.title }}</h3>
                <h4 ng-bind-html="content.detail"></h4>
                <p>{{ content.comment }}</p>
            </div>
            <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
    </md-list>
</div>