<div flex class="overlay">
    <div class="container">
        <div>
            이름 {{root.user.name}}
        </div>
        <div>
            나이 {{root.user.name}}
        </div>
        <div>
            지역 {{root.user.name}}
        </div>

        <md-list>
            <md-subheader>함께 좋아하는 것들</md-subheader>
            <md-list-item class="md-3-line" ng-click="movie.addAndDetail('.wrapper')"
                          ng-repeat="movie in root.user.movies | limitTo:3"
                          aria-label="{{movie.title}}">
                <img alt="{{ movie.title }}" ng-src="{{ movie.image || '/resources/icons/movie.png' }}"
                     class="md-avatar"/>
                <div class="md-list-item-text" layout="column">
                    <h3><span class="hover-underline" ng-bind-html="movie.title"></span></h3>
                    <h4 ng-bind-html="movie.subtitle"></h4>
                    <p>
                        <span ng-if="movie.directors.length>0 && movie.directors[0]">
                        <strong>감독</strong>
                            <span ng-repeat="director in movie.directors | limitTo : 3">{{director}}<span
                                    ng-if="!$last">,</span> </span>
                        </span>
                        <span ng-if="movie.actors.length>0 && movie.actors[0]"><strong>출연진</strong> <span
                                ng-repeat="actor in movie.actors | limitTo : 3">{{actor}}<span ng-if="!$last">,</span> </span>
                        </span>
                    </p>
                </div>
                <md-icon ng-if="!root.user.movies.findById(movie.id)">
                    <i>add</i>
                </md-icon>
                <div class="green" ng-if="root.user.movies.findById(movie.id)"
                     ng-click="movie.removeFromCollection($event);">
                    <md-icon><i>check</i></md-icon>
                </div>
            </md-list-item>
        </md-list>
    </div>
</div>
