<!doctype html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <title>Artnine</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <!-- build:css(.) /styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/angular-material-icons/angular-material-icons.css" />
    <link rel="stylesheet" href="/bower_components/angular-ui-router-anim-in-out/css/anim-in-out.css" />
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) /styles/main.css -->
    <!-- include: "type": "css", "files": "**/*.css" -->
    <link href="/directives/collections/collections.css" rel="stylesheet" type="text/css">
    <link href="/directives/content-summary/content-summary.css" rel="stylesheet" type="text/css">
    <link href="/directives/content/content.css" rel="stylesheet" type="text/css">
    <link href="/directives/usercard/user-card.css" rel="stylesheet" type="text/css">
    <link href="/pages/chat/chat.css" rel="stylesheet" type="text/css">
    <link href="/pages/user/user.css" rel="stylesheet" type="text/css">
    <link href="/service/commentDialog/commnetDialog.css" rel="stylesheet" type="text/css">
    <link href="/service/loginDialog/loginDialog.css" rel="stylesheet" type="text/css">
    <link href="/service/registerDialog/registerDialog.css" rel="stylesheet" type="text/css">
    <link href="/style/angular-grid-animate.css" rel="stylesheet" type="text/css">
    <link href="/style/common.css" rel="stylesheet" type="text/css">
    <link href="/style/container.css" rel="stylesheet" type="text/css">
    <link href="/style/icon.css" rel="stylesheet" type="text/css">
    <link href="/style/margin.css" rel="stylesheet" type="text/css">
    <link href="/style/reset.css" rel="stylesheet" type="text/css">
    <!-- /include -->
    <!-- endbuild -->

    <!-- 직접 관리할 스타일시트 -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/earlyaccess/notosanskr.css" rel="stylesheet" type="text/css">
    <!-- 스타일시트 종료 -->
    <style>
        [ng-cloak] {
            display: none;
        }
    </style>
</head>
<body ng-cloak layout="row" ng-controller="rootController as root">
<md-sidenav
        md-component-id="nav"
        md-is-locked-open="$mdMedia('gt-md')"
        md-whiteframe="4">
    <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools" ng-click="root.go('main')">Artnine.me</h1>
    </md-toolbar>
    <md-list>
        <md-list-item ng-click="root.go('collection');" ng-if="root.user.id">
            <md-icon><i>person_add</i></md-icon>
            <p>내 콜렉션</p>
            <md-divider></md-divider>
        </md-list-item>
        <md-list-item ng-click="root.go('movie')">
            <md-icon><i>movie</i></md-icon>
            <p>영화</p>
        </md-list-item>
        <md-list-item ng-click="root.go('music')">
            <md-icon><i>music_note</i></md-icon>
            <p>음악</p>
        </md-list-item>
        <md-list-item ng-click="root.go('book')">
            <md-icon><i>book_mark</i></md-icon>
            <p>책</p>
        </md-list-item>
        <md-divider></md-divider>
        <div ng-if="root.user.matching">
            <md-list-item ng-click="root.go('match')">
                <md-icon><i>people</i></md-icon>
                <p>비슷한 취향의 사람</p>
            </md-list-item>
            <md-list-item ng-click="root.go('chat')">
                <md-icon><i>chat</i></md-icon>
                <p>대화</p>
            </md-list-item>
            <md-divider></md-divider>
        </div>
        <div ng-if="root.user.id">
            <md-list-item ng-click="root.go('user')">
                <md-icon><i>person</i></md-icon>
                <p>내 정보</p>
            </md-list-item>
            <md-list-item ng-click="root.logout()">
                <md-icon><i>person</i></md-icon>
                <p>로그아웃</p>
            </md-list-item>
        </div>
        <div ng-if="!root.user.id">
            <md-list-item ng-click="root.login();">
                <md-icon><i>person</i></md-icon>
                <p>로그인</p>
            </md-list-item>
            <md-list-item ng-click="root.register();">
                <md-icon><i>person_add</i></md-icon>
                <p>회원가입</p>
            </md-list-item>
        </div>
    </md-list>
    <md-divider></md-divider>
    <md-list-item ng-click="root.go('faq');">
        <md-icon><i>question_answer</i></md-icon>
        <p>서비스 의견</p>
    </md-list-item>
</md-sidenav>
<div flex layout="column">
    <md-toolbar>
        <div class="md-toolbar-tools container">
            <md-button hide-gt-md ng-click="root.openSide()" class="md-icon-button" aria-label="Settings">
                <md-icon><i>menu</i></md-icon>
            </md-button>
            <h2>
                <span>{{root.state.current.title}}</span>
            </h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <div ui-view flex layout="column"></div>
</div>


<!-- 직접 관리할 라이브러리 -->
<!-- 라이브러리 종료 -->
<!-- build:js(.) /scripts/vendor.js -->
<!-- bower:js -->
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-essential/angular-essential.js"></script>
<script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="/bower_components/moment/moment.js"></script>
<script src="/bower_components/angular-material-icons/angular-material-icons.min.js"></script>
<script src="/bower_components/angular-animate/angular-animate.js"></script>
<script src="/bower_components/angular-ui-router-anim-in-out/anim-in-out.js"></script>
<script src="/bower_components/angular-aria/angular-aria.js"></script>
<script src="/bower_components/angular-messages/angular-messages.js"></script>
<script src="/bower_components/angular-material/angular-material.js"></script>
<script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="/bower_components/angular-recaptcha/release/angular-recaptcha.js"></script>
<script src="/bower_components/ng-file-upload/ng-file-upload.js"></script>
<script src="/bower_components/angular-scroll-glue/src/scrollglue.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) /scripts/scripts.js -->
<!-- include: "type": "js", "files": "**/*.js" -->
<script src="/app.js"></script>
<script src="/app.prototype.js"></script>
<script src="/app.theming.js"></script>
<script src="/config/ajax.handler.js"></script>
<script src="/directives/collections/collections.js"></script>
<script src="/directives/content-summary/content-summary.js"></script>
<script src="/directives/content/content.directive.ctrl.js"></script>
<script src="/directives/content/content.js"></script>
<script src="/directives/usercard/user-card.js"></script>
<script src="/lib/angular-grid.js"></script>
<script src="/lib/moment.js"></script>
<script src="/model/chat/chat.js"></script>
<script src="/model/chat/message.js"></script>
<script src="/model/content/book.js"></script>
<script src="/model/content/content.factory.js"></script>
<script src="/model/content/movie.js"></script>
<script src="/model/content/music.js"></script>
<script src="/pages/chat/chat.ctrl.js"></script>
<script src="/pages/collection/collection.ctrl.js"></script>
<script src="/pages/faq/faq.ctrl.js"></script>
<script src="/pages/main/main.ctrl.js"></script>
<script src="/pages/match/match.ctrl.js"></script>
<script src="/pages/page/page.ctrl.js"></script>
<script src="/pages/root.ctrl.js"></script>
<script src="/pages/search/search.ctrl.js"></script>
<script src="/pages/user/user.ctrl.js"></script>
<script src="/route/route.config.js"></script>
<script src="/route/route.js"></script>
<script src="/service/Defaults.js"></script>
<script src="/service/alert.js"></script>
<script src="/service/commentDialog/commentDialog.js"></script>
<script src="/service/confirm.js"></script>
<script src="/service/loginDialog/loginDialog.js"></script>
<script src="/service/registerDialog/registerDialog.js"></script>
<script src="/service/rootUser.js"></script>
<script src="/service/rootUser.loggedcheck.js"></script>
<script src="/template.js"></script>
<!-- /include -->
<!-- endbuild -->


<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
</body>
</html>
