<div class="container">
    <md-input-container class="md-block movie-search">
        <label>이름</label>
        <md-icon><i>search</i></md-icon>
        <input ng-model="root.user.name">
    </md-input-container>
    <md-input-container class="md-block movie-search">
        <label>나이</label>
        <md-icon><i>search</i></md-icon>
        <input ng-model="root.user.age">
    </md-input-container>
    <md-input-container>
        <label>성별</label>
        <md-select ng-model="root.user.gender">
            <md-option value="male">
                남
            </md-option>
            <md-option value="female">
                여
            </md-option>
        </md-select>
    </md-input-container>
    <md-input-container>
        <label>지역</label>
        <md-select ng-model="root.user.district">
            <md-option value="seoul">
                서울
            </md-option>
            <md-option value="gyungi">
                경기
            </md-option>
        </md-select>
    </md-input-container>
    <md-button ng-click="ctrl.update(root.user)" class="md-raised">
        저장하기
    </md-button>
</div>