<div flex layout="column">
    <div flex layout="column" class="wrapper">
        <div class="container">
            <md-input-container class="md-block movie-search">
                <label>검색어</label>
                <md-icon><i>search</i></md-icon>
                <input ng-model="ctrl.keyword">
            </md-input-container>
        </div>
        <div flex class="overlay">
            <div class="container">
                <div angular-grid="ctrl.books" ag-grid-width="200" ag-id="movies" class="dynamic-grid">
                    <content content="movie" ng-repeat="movie in ctrl.books"></content>
                </div>
            </div>
        </div>
    </div>
    <collections contents="root.user.contents"></collections>
</div>