<div flex layout="column">
    <div flex layout="column" class="wrapper">
        <div class="container">
            <md-input-container class="md-block movie-search">
                <label>검색어</label>
                <md-icon><i>search</i></md-icon>
                <input ng-model="ctrl.keyword">
            </md-input-container>
        </div>
        <div flex class="overlay">
            <div class="container">
                <div angular-grid="ctrl.books" ag-grid-width="200" ag-id="movies" class="dynamic-grid">
                    <content content="movie" ng-repeat="movie in ctrl.books"></content>
                </div>
            </div>
        </div>
    </div>
    <div class="collection" ng-if="root.user.contents.length>0">
        <div layout="column" aria-label="{{book.title}}" ng-repeat="book in root.user.contents | limitTo : 5"
             ng-click="book.openCommentDialog()"
             class="summary">
            <img alt="{{book.title}}" class="md-avatar" ng-src="{{ book.image || '/resources/icons/book.png' }}"/>
            <div>
                {{book.title.removeTags()}}
            </div>
            <div ng-click="book.removeFromCollection($event);">
                <small class="grey">삭제</small>
            </div>
        </div>
    </div>
</div>