collections {
  display: block;
  min-height: 124px;
  background: white;
  text-align: center;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  .arrow {
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0;
    height: 100%;
    width: 50px;
    md-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      -moz-transform: translateY(-50%) translateX(-50%);
      -webkit-transform: translateY(-50%) translateX(-50%);
      height: 48px;
      width: 48px;
      i {
        font-size: 48px;
      }
    }
  }
  .left {
    left: 0;
  }
  .right {
    right: 0;
  }
}