<div ng-if="contents.length>0" layout="row" layout-align="center center">
    <div class="arrow left" ng-click="left()" ng-hide="offset===0">
        <md-icon>
            <i>chevron_left</i>
        </md-icon>
    </div>
    <content-summary content="content" ng-repeat="content in contents | orderBy : '-updateAt' | limitTo : 5 : offset">
    </content-summary>
    <div class="arrow right" ng-click="right()" ng-show="contents.length > 5 && offset < contents.length-5">
        <md-icon>
            <i>chevron_right</i>
        </md-icon>
    </div>
</div>